* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CursedTimerUlil-Aznm';
  src: url(./fonts/CursedTimerUlil-Aznm.ttf);
}

body {
  background: gray;
  margin-top: 100px;
}

main {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  background: #1b244a;
  border: 7px solid #eee;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #eee;
  margin-top: 68px;
}

.score-container {
  background: #080001;
  width: 155px;
  height: 120px;
  border-radius: 5px;
  margin-top: 21px;
}

.home-score-container,
.guest-score-container {
  font-family: 'CursedTimerUlil-Aznm';
  color: #f94f6d;
  font-size: 90px;
  text-align: center;
  padding-top: 20px;
}

.add-home-scores-container,
.add-guest-scores-container {
  color: #9aabd8;
  display: flex;
  justify-content: space-between;
  margin: 26px 0 50px;
}

.add-score {
  border: 2px solid #9aabd8;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  background: transparent;
  color: #9aabd8;
}

.add-score {
  font-family: 'CursedTimerUlil-Aznm';
  font-size: 18px;
  text-align: center;
  line-height: 45px;
}

.new-game-container {
  text-align: center;
  margin-bottom: 35px;
}

.new-game-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #9aabd8;
  color: #1b244a;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #eee;
}
